<%= render 'shared/navbar' %>
<div class="home-static">
  <%= button_to root_path, method: :get, class: 'btn-home-go act' do %>
    <%= image_tag 'arrowleft.png', alt: 'arrow-left', class: 'icone' %>
    Back to Home
  <% end %>
</div>

<div class="cgu_card">
  <h2>About CoinTribe</h2>
  <p class="cgu_text">
    CoinTribe allows you to monitor the direction of the cryptocurrency market in real-time. 
    By combining market trends, community insights, and sentiment analysis, our platform brings together a tribe of crypto enthusiasts to take the pulse and sharpen their vision of the market's future.
    Whether you're here to evaluate market dynamics, refine your predictions, or connect with a community of like-minded enthusiasts, CoinTribe empowers you to stay ahead in the ever-changing crypto landscape. Join the tribe and feel the pulse!
  </p>

  <h3>Our Vision</h3>
  <p class="cgu_text">
    We believe in empowering individuals to share their insights, enhance their market awareness, and stay informed about the latest trends in the crypto space.
    Whether you're a beginner exploring blockchain or a seasoned trader, our platform is designed to help everyone gain clarity in a complex market.
  </p>
  <p class="cgu_text">
    Transparency, community engagement, and education are the core values driving our mission.
  </p>

  <h3>What We Offer</h3>
  <ul class="cgu_text">
    <li>Real-time Market Trends: Stay updated with dynamic charts and data.</li>
    <li>Sentiment Voting: Refine your market predictions by voting Bullish or Bearish on your favorite cryptocurrencies.</li>
    <li>Community Discussions: Exchange insights and questions with other crypto enthusiasts to improve your understanding.</li>
    <li>Personalized Experience: Save your favorite assets, set alerts, and customize your journey.</li>
  </ul>

  <h3>Join the Community</h3>
  <p class="cgu_text">
    Our platform is more than a tool; it’s a vibrant community of crypto enthusiasts, investors, and curious minds.
    By joining us, you gain access to a collective vision of the market, helping you shape informed decisions for tomorrow.
  </p>

  <h3>Looking Ahead</h3>
  <p class="cgu_text">
    We’re continuously innovating to bring more value to our users.
    From advanced gamification features to premium services like in-depth analyses and portfolio management, the future is bright, and we’re excited to have you with us.
  </p>

  <h3>Powered by Passion</h3>
  <p class="cgu_text">
    Our multidisciplinary team is dedicated to combining cutting-edge technology with user-friendly design, making crypto accessible to all.
  </p>

  <p>CoinTribe – The crypto community’s heartbeat.</p>
</div>
