<h1>Hello <%= @user.username %>,</h1>

<p>Your alert for the cryptocurrency <strong><%= @crypto.name %></strong> has been triggered:</p>

<p><strong>Price reached:</strong> <%= @price_crypto %> USD</p>

<p>See you soon !</p>

<p>The CoinTribe Team</p>