/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --primary-color: #000000;
  --secondary-color: #623BD3;
  --white-color: #FFFFFF;
  --gradient-dark: #080808;
  --second-dark: #1A1A1A;
  --input-color: #0C0C0C;
  --grey-color: #7E7E7E;
  --green-color: #3BFF79;
  --red-color: #FF2B40;
  --border-color: #191919;
  --border-card: rgb(18, 18, 18);
  --border-info: #121212;
  --text-color: #9d9d9d;
  --text-border: rgb(43, 43, 43);
  --shadow-color: #452795;
}

body {
    background-color: var(--primary-color);
    color: var(--white-color);
    margin: 0;
    font-family: "Space Grotesk", serif; 
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

.act:active {
  transform: scale(0.97);
}

.body-flex {
  width: 100%;
  display: flex;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.body-flex-show {
  width: 100%;
  display: flex;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.gradient-box {
    border-radius: 20px;
    border: double 1px transparent;
    background-image: linear-gradient(180deg, var(--gradient-dark), var(--primary-color) 80%), 
                      linear-gradient(to bottom, var(--second-dark), var(--input-color) 85%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    cursor: pointer;
}

h2 {
  font-family: "Space Grotesk", serif; 
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 50px;
  letter-spacing: -4px;
  margin-bottom: 5px;
}

h3 {
  font-family: "Space Grotesk", serif; 
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 40px;
  letter-spacing: -3px;
  margin-bottom: 5px;
}

@media (max-width: 1100px) { 
  .body-flex {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .body-flex-show {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) { 
  .title-search {
    font-size: 40px;
  }
}
