@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.left-login, .right-login {
  width: 50%;
  height: 100vh;
}

.left-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-login {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.login-img {
  width: 700px;
}

.btn-home {
  background-color: var(--input-color);
  border: 1px solid var(--second-dark);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 45px;
  width: 160px;
  font-size: 16px;
  border-radius: 10px;
  margin-left: 50px;
  cursor: pointer;
  padding-right: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 350;
  font-style: normal;
  letter-spacing: -1px;
}

.btn-home:hover {
  border: 1px solid var(--secondary-color);
  box-shadow: 0px 10px 60px var(--secondary-color);
}

.icone {
  width: 30px;
}

.container-input {
  display: flex;
  width: 65%;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: auto;
}

.text-title {
  color: var(--grey-color);
  font-size: 22px;
  font-weight: 300;
  letter-spacing: -1px;
  margin-top: -5px;
}

.input-container {
  display: flex;
  border-radius: 10px;
  background: linear-gradient(173deg, #121212 0%, #121212 100%);
  box-shadow:
    10px 10px 20px #000000,
    -10px -10px 40px #000000;
  height: 60px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.input-container input {
  border-radius: 0.8rem;
  background: #101011;
  box-shadow:
    inset 5px 5px 10px #000000,
    inset -5px -5px 10px rgb(15, 15, 15),
    0px 0px 100px rgba(0, 0, 0, 0),
    0px 0px 100px rgba(255, 102, 0, 0);
  width: 82%;
  padding: 1rem;
  border: none;
  border: 1px solid transparent;
  color: white;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
  cursor: pointer;
}

.input-container input:focus {
  background: linear-gradient(173deg, #000000 0%, #000000 100%);
  border: 1px solid #2B0979;
  outline: none;
  box-shadow:
    inset 0px 0px 10px rgba(0, 0, 0, 0.5),
    inset 0px 0px 10px rgba(0, 0, 0, 0.5),
    0px 0px 100px rgba(102, 0, 255, 0.5),
    0px 0px 100px rgba(102, 0, 255, 0.5);
}

.input-container input:active {
  transform: scale(0.95);
}

.icone-input {
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.container-label {
  height: 100px;
}

.label {
  margin-bottom: 2px;
  margin-left: 10px;
  color: var(--grey-color);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  letter-spacing: -0.5px;
  font-size: 17px;
}

.btn-login {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(30deg, #0C0C0C 0%, #623BD3 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 20px;
}

.label-btn {
  margin-left: auto;
  font-weight: 300;
  letter-spacing: -0.8px;
  font-size: 19px;
  color: var(--white-color);
}

.arrow-btn-icon {
  margin-left: auto;
  margin-right: 10px;
  width: 30px;
}

.forgot-link {
  color: var(--grey-color);
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
}

.remember {
  margin-top: 10px;
  color: var(--grey-color);
  font-weight: 300;
  letter-spacing: -1px;
}

.link-to-sign {
  color: var(--grey-color);
  text-align: center;
  margin-top: 60px;
}

.link-new {
  color: var(--white-color);
  text-decoration: none;
}

.forgot-link:hover, .link-new:hover {
  text-decoration: underline;
}

@media (max-width: 1100px) {
  .left-login {
    display: none;
  }
  .right-login {
    width: 100%;
  }
  .input-container input {
    width: 98%;
  }
  .container-input {
    width: 80%;
  }
}
