nav {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  align-items: center;
  height: 60px;
}

.logo-container {
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-search {
  width: 25%;
  position: relative;
  margin-left: auto;
}

.search-section-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.search-home-nav {
  border-radius: 10px;
  border: double 1px transparent;
  background-image: linear-gradient(180deg, var(--input-color), var(--input-color) 80%),
                    linear-gradient(to bottom, var(--second-dark), var(--input-color) 85%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
}

.nav-result {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
}

.icon-search-nav {
  width: 18px;
  margin-left: 7px;
}

#profil-btn {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  box-shadow: 0px 10px 60px var(--secondary-color);
  border: none;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  height: 45px;
  width: 140px;
  justify-content: center;
  border-radius: 10px;
}

#profil {
  position: fixed;
  margin-right: 0px;
  top: 48.5%;
  right: -373px;
  transform: translateY(-48.5%);
  width: 373px;
  height: 97.5vh;
  background-color: #000000;
  border: 1px solid #191919;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  transition: right 1s ease;
  padding-top: 20px;
}

#profil.show {
  right: 0px;
}

.headerprofil {
  display: flex;
  width: 90%;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: auto;
}

.user-icone {
  width: 30px;
  pointer-events: none;
}

.pseudouser {
  color: var(--grey-color);
  pointer-events: none;
  font-size: 14px;
}

.pseudouser-btn {
  color: var(--white-color);
  pointer-events: none;
  font-size: 14px;
}

.btn-menu {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background-color: var(--input-color);
  border: 1px solid var(--second-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
}

.delog {
  margin-right: -15px;
}

.btn-notif {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background-color: var(--input-color);
  border: 1px solid var(--second-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
}

.notif-popup {
  position: absolute;
  border-radius: 15px;
  background-color: var(--input-color);
  border: 1px solid var(--secondary-color);
  box-shadow: 0px 10px 60px var(--secondary-color);
  display: none;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-top: 10px;
  text-align: center;
}

.icone-arrow {
  width: 27px;
}

.icone-nav {
  width: 19px;
}

.icone-notif {
  width: 19px;
}

.btn-menu:hover, .btn-notif:hover {
  border: 1px solid var(--secondary-color);
  box-shadow: 0px 10px 60px var(--secondary-color);
}


@media (max-width: 1000px) { 
  .navbar-search {
    width: 100%;
    position: relative;
    margin-left: 10px;
  }

  .search-home-nav {
    border-radius: 10px;
    border: double 1px transparent;
    background-image: linear-gradient(180deg, var(--input-color), var(--input-color) 80%),
                      linear-gradient(to bottom, var(--second-dark), var(--input-color) 85%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
  }
}

