
<div>
<h2>News</h2>
</div>

<div>
<h2>News Token Listing</h2>
</div>

<div>
<h2>Search Your Crypto</h2>
<%= form_with(url: cryptos_path, method: "get", local: false, id: "search_form") do |form| %>
    <%= form.text_field :search, id: "search_input", placeholder: "Rechercher dans les cryptos..." %>
    <%= form.submit "Rechercher", style: "display: none;" %>
  <% end %>
  
  <div id="search-results">
    <% @crypto_search.each do |crypto| %>
      <div><%= crypto.name %></div>
    <% end %>
  </div>


</div>